<h1>Mario's Specialty Foods Site</h1>
<h2>Products</h2>

<% if @products.any? %>
  <ul>
    <% @products.each do |product| %>
      <li><%= link_to product.name, product_path(product) %></li>
    <% end %>
  </ul>
<% else %>
  <p>No products to display yet.</p>
<% end %>
<p><%= link_to "Add a product", new_product_path %></p>
<h4>Product with most reviews: <%= Product.most_reviews.name %><h4>
<h4>Keep it local! Products made in USA: </h4>

