<h1>Mario's Specialty Foods Site</h1>
<div class="image-index"></div>
<div class="container">
  <div class="notice">
    <%= flash[:alert] %>
    <%= flash[:notice] %>
  </div>

  <p><b><%= link_to "Add a product", new_product_path %></b></p>

 <p><h3>Full List of Products</h3>

  <% if @products.any? %>
    <ul>
      <% @products.each do |product| %>
        <li><%= link_to product.name, product_path(product) %></li>
      <% end %>
    </ul>
  <% else %>
    <p>No products to display yet.</p>
  <% end %>
  </p>

</div>