<h1>Mario's Specialty Foods Site</h1>
<h2>Products</h2>

<% if @products.any? %>
  <ul>
    <% @products.each do |product| %>
      <li><%= link_to product.name, product_path(product) %></li>
    <% end %>
  </ul>
<% else %>
  <p>No products to display yet.</p>
<% end %>

<p><%= link_to "Add a product", new_division_path %></p>
